// -----------------------------------------------------
// Description :
// blocks containing titles
// - like a sidebar header
// - a listed article module header ex
// -----------------------------------------------------
// Responsability :
// - space the elements
// - do not use for editorial sections
// -----------------------------------------------------
// Segregation :
// - do not use for pages headers
// - do not use for editorial sections
// -----------------------------------------------------
// Dependencies :
// _settings_global.scss
// -----------------------------------------------------

.cm-block-header {

    &-primary {
        padding-top: step(m);
        padding-bottom: step(xs);

        @include to-screen('tablet-s') {
            @include content-margin;
        }

        &::after {
            @include border($side: bottom, $width: m, $color: dark);
            display: block;
            padding-bottom: step(xs);
            content: '';
        }
    }

    &-secondary {
        @include border($side: bottom, $width: std, $color: light);
        display: block;
        padding: step(s) 0;

        @include to-screen('tablet-s') {
            @include content-margin;
        }
    }

    &-sponsored { // outbrain grey header
        @include color(light);
        @include line-height(std);
        @include background-color(medium);
        padding-top: step(xxs);
        padding-bottom: step(xxs);
        font-weight: 600;
        text-align: center;
    }
}
