// -----------------------------------------------------
// Description :
// provide classes for alert banner
// -----------------------------------------------------
// Dependencies :
// _settings_global.scss
// _settings_text.scss
// -----------------------------------------------------

.cm-alert-banner {
    @include content-margin();
    @include border($color: light, $side: bottom);
    padding-top: step(m);
    padding-bottom: step(m);

    &__alert-mark {
        @include color(alert);
        display: inline-block;
        padding-right: step(xxs);
        line-height: 1;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
