// -----------------------------------------------------
// Description :
// an article or element view with a full format
// image. Can have title, standfirst or not, image credit
// -----------------------------------------------------
// Dependencies :
// _settings_global.scss
// _settings_text.scss
// _settings_step.scss
// _settings_viewport.scss
// -----------------------------------------------------

.cm-short-view {
    display: block;
    overflow: hidden; // make floated images grow container
    line-height: 0; // remove lh from wrapping <a> tag
    text-decoration: none;

    &--alert {
        @include color(alert);
    }

    /* ---------------------- *\
          Top Média block
    \* ---------------------- */

    // add padding around all item
    // ( use only for full width images )
    &__container {
        @include to-screen('tablet-s') {
            @include content-margin;
        }
    }

    &__top-media {
        position: relative;
        height: auto;
        line-height: 0; // remove lh from wrapping <a> tag

        @include to-screen('tablet-s') {
            @include reverse-content-margin;
        }
    }

    &__credit {
        @include color('light');
        @include font-size(xxxs);
        @include font-family(std);
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    &__media-icon {
        position: absolute;
        bottom: step(m);
        left: step(m);
    }

    /* ---------------------- *\
       Right embed Média block
    \* ---------------------- */

    &__embeded-media {
        float: right;
        padding-left: step(m);
        margin-top: step(xxs);

        // in outbrain flux
        .cm-short-view--sponsored & {
            float: left;
            padding-right: step(m);
            padding-left: 0;
            margin-top: 0;
        }
    }

    &__avatar {
        width: 60px;
        height: 60px;
    }


    &__img {
        height: auto;
        line-height: 0; // remove lh from wrapping <a> tag

        @include to-screen('phone-l') {
            width: 100px;
        }

        @include from-screen('phone-l') {
            width: 150px;
        }
    }

    /* ---------------- *\
          text content
    \* ---------------- */

    &__desc {
        @include line-height(std);
        padding-top: step(xxs);

        &--centered {
            text-align: center;
        }
    }

    // eg - live or premium
    &__icon {
        margin-right: step(xxs);
        margin-bottom: -2px;
    }

    // only when the title is small
    // in other cases we use atoms headings
    &__title {
        @include font-size(std);
        @include line-height(m);
        display: block;
    }

    &__standfirst {
        @include font-family('serif');
        @include line-height(m);
        padding-top: step(xxs);
    }

    // outbrain source
    &__sponsor {
        @include color('light');
        font-weight: bold;
    }

    // marqueurs rouges
    &__live,
    &__alert {
        @include color('alert');
        @include font-family(sans-serif);
        @include font-size(l);
        padding-right: step(xxs);
        line-height: 1;
        font-weight: normal;
        text-transform: uppercase;
    }

    &__live::before {
        @include font-family('std');
        padding-right: step(xxs);
        content: '•';
        vertical-align: baseline;
    }

    &__category {
        @include font-size(xxs);
        @include font-family(std);
        text-transform: uppercase;
        letter-spacing: 0.05em;

        .cm-short-view--alert & {
            @include color(alert);
        }
    }

    &__pub-time {
        @include color('lighter');
        @include font-family('std');
        @include font-size('std');
        @include line-height(xs);
        display: inline-block;
        word-break: keep-all;
        white-space: nowrap;
        font-weight: normal;

        .cm-short-view--alert & {
            @include color('alert-light');
        }
    }

    // opinion
    &__author {
        @include font-size(xxs);
        @include line-height(s);
        display: block;
        margin-top: step(xs);
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.05em;
    }

    // opinion
    &__author-role {
        @include color(light);
        @include font-size(s);
        @include line-height(s);
    }
}
