// -----------------------------------------------------
// Description :
// a block with vertical list of links
// -----------------------------------------------------
// Dependencies :
// _settings_global.scss
// _settings_text.scss
// _settings_step.scss
// _settings_layout.scss
// -----------------------------------------------------

.cm-link-list {
    @include border($side: 'bottom', $color: 'light');
    padding: step(m) 0;

    &__header {
        padding-bottom: step(s);
    }

    &__list,
    &__header {
        @include container;
        @include content-margin;
    }

    &__link {
        @include color(light);
        padding: step(xxs) 0;
        text-decoration: none;
    }
}
