{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": ["airbnb-base"],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {
        "spaced-comment": 0,
        "indent": ["error", 4, {
            "SwitchCase": 1,
            "VariableDeclarator": 1,
            "outerIIFEBody": 1
        }]
    }
}
