// -----------------------------------------------------
// Description :
// provide SEO / small thread of articles
// -----------------------------------------------------
// Dependencies :
// _settings_global.scss
// _settings_background-color.scss
// _settings_steps.scss
// -----------------------------------------------------

.co-section-thread {
    @include background-color(light);

    &__section {
        padding-bottom: step(s);

        &:not(:last-child) {
            @include border($side: bottom, $width: std, $color: light);
        }
    }

    &__list {
        @include content-margin();

        &--most-readed li {
            @include content-margin();
            display: flex;
            flex-flow: row wrap;
            counter-increment: step-counter;

            &::before {
                @include font-size(l);
                padding-top: step(xs);
                margin-right: step(l);
                content: counter(step-counter);
            }

            &:not(:last-child) {
                @include border($side: bottom, $width: std, $color: light);
            }
        }
    }

    &__header {
        @include content-margin();
    }

    &__ordered-item {
        flex: auto;
    }

    &__article {
        padding-top: step(xs);
        padding-bottom: step(xs);

        .co-section-thread__list--most-readed & {
            flex: 1 1 0px;
        }
    }
}
