// -----------------------------------------------------
// Description :
// élément article
// -----------------------------------------------------
// Dependencies :
// _settings_global.scss
// _settings_step.scss
// _settings_colors.scss
// _settings_text.scss
// _settings_font-families.scss
// _settings_borders.scss
// -----------------------------------------------------

.co-article {
    @include content-margin();

    @include from-screen('tablet-s') {
        padding-bottom: step(xxl);
    }

    &__excerpt-mark {
        @include color(lighter);
    }

    &__body {
        @include font-family('serif');

        > p:first-child {
            margin-top: step(m);
        }

        > .co-article__media:first-child {
            margin-top: -1px; // hide divider
        }
    }

    &__drop-cap {
        @include font-family(sans-serif);
        float: left;
        padding-bottom: step(xs);
        margin-right: step(xxl);
        margin-bottom: step(s);
        line-height: 0.8; // specific alignement
        border-bottom: solid 1rem currentColor;

        @include to-screen('phone-m') {
            font-size: 12rem;
        }

        @include from-screen('phone-m') {
            font-size: 14rem;
        }
    }

    // the second paragraph must clear the left floated drop cap
    // in case of the first paragraph being very short
    // for now this case is for opinion but will be spread to other
    // types or article and rationalized
    .co-article--opinion & > p:nth-of-type(2) {
        clear: both;
    }

    &__media {
        margin-top: step(l);
        margin-bottom: step(l);

        @include to-screen('tablet-s') {
            @include reverse-content-margin();
        }
    }

    &__pub {
        @include border($color:light, $side:top);
        @include border($color:light, $side:bottom);
        padding-top: step(m);
        padding-bottom: step(m);

        @include to-screen('phone-m') {
            margin-top: step(l);
            margin-bottom: step(l);
        }

        @include to-screen('tablet-s') {
            @include background-color(light);
            @include reverse-content-margin();
        }

        @include from-screen('phone-m') {
            margin-top: step(xl);
            margin-bottom: step(xxl);
        }
    }

    &__related {
        @include border($side: 'top');
        float: left;
        width: 50%;
        margin-top: step(xs);
        margin-bottom: step(s);

        @include to-screen('tablet-s') {
            padding: step(l) 0 0;
            margin-right: step(m);
        }

        @include from-screen('tablet-s') {
            padding: step(xl) 0 0;
            margin-right: step(xxl);
        }

        @include at-screen('phone-s') {
            @include font-size(std);
            @include line-height(std);
        }

    }

    &__footer {
        @include border($side: top, $color: light);
        padding: step(m) 0;
    }

    &__vertical-fade-out {
        @include vertical-fade-out($color: getTint($snow, 'lighter'));
        position: relative;
        height: 200px;
        margin-top: -200px;
    }

    &__pub-date {
        @include font-size(s);
        @include color(light);
        display: block;
        margin-top: step(xs);
    }
}

// related contents block that appears in article only
// container for margin - will need refactor
.co-related-contents {
    @include from-screen('tablet-s') {
        @include content-margin();
    }
}
