.co-burger-menu-container {
    position: relative;
}

.co-burger-menu {
    @include background-color(lighter);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3; //z-index superior to .js-placeholder which is 2.

    @include from-screen('tablet-s') {
        max-width: 500px;
    }

    &__btn-close {
        // positionned on front of burger icon,
        // and hide it when open
        @include background-color(lighter);
        position: absolute;
        max-width: 23px;
        max-height: 23px;
        overflow: hidden;
        margin-left: -30px;
        color: transparent;
        text-indent: 100vw;
        cursor: pointer;
        text-align: center;

        .is-open & {
            top: -41px;
            margin-left: step(xl);
        }

        &:before {
            width: 14px; //resize icon
            height: 14px;
            margin: 4px auto;
        }

        &:focus {
            outline: none;
        }
    }

    &__items {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;

        @include from-screen('tablet-s') {
            @include border($side: 'right', $color: 'light');
            @include border($side: 'bottom', $color: 'light');
        }

        .is-open > & {
            max-height: 1000px;
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
        }
    }

    &__section {
        @include content-margin;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        position: relative;
        max-width: 100vw;
        overflow: hidden;
        padding: step(xs) 0;

        &:not(:last-of-type) {
            @include border($side: 'bottom', $color: 'light');
        }

        li {
            flex: 0 0 50%;
            width: 50%;
        }
    }

    &__item {
        display: block;
        padding: step(xs) 0;
        text-decoration: none;

        @include to-screen('phone-m') {
            padding: step(xxs) 0;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}
