// -----------------------------------------------------
// Description :
// provide outbrain articles list
// -----------------------------------------------------
// Dependencies :
// _settings_global.scss
// _settings_background-color.scss
// _settings_steps.scss
// -----------------------------------------------------

.co-outbrain {
    padding: 0 5px step(l);
    background-color: transparent;
    border-top: 0;

    &__container {
        @include from-screen('tablet-s') {
            @include content-margin();
        }
    }

    &__heading {
        @include font-size(l);
        display: block;
        padding-bottom: step(l);
        padding-bottom: step(xs);
        margin-bottom: step(l);
        border-bottom: 1px solid #eef1f5;
        color: #000;
        font-family: arial,sans-serif;
        font-weight: bold;
        line-height: 1;
    }

    &__item:not(:last-child) {
        display: block;
        padding-bottom: step(xl);
    }


    &__view {
        display: block;
        width: 100%;
        overflow: hidden;
        line-height: 0; // remove lh from wrapping <a> tag to avoid bottom margin
        text-decoration: none;
    }

    &__source {
        @include color(light);
        @include line-height(std);

        // alow only one line and hide if more
        max-height: 1.5em; // 1em * 150% lh
        overflow: hidden;

        margin: 0;
        font-weight: 600;
        font-family: arial, sans-serif;

        @include to-screen('phone-l') {
            @include font-size(xxs);
        }

        @include from-screen('phone-l') {
            @include font-size(s);
        }
    }


    &__desc {
        @include line-height(s);
    }

    &__media {
        width: 98px;
    }

    &__title {
        @include font-size(std);
        font-family: arial, sans-serif;
        line-height: 2rem;
        color: #036;

        &:hover {
            color: #129af0;
        }
    }

    &__link {
        @include font-size(s);
        display: block;
        line-height: 0; // remove lh from wrapping <a> tag
        text-decoration: none;
    }

    &__logo-footer {
        padding: 5px 10px 0px;
        text-align: right;
    }

    &__logo {
        display: inline-block;
        width: 67px;
        height: 12px;
        background: url('http://widgets.outbrain.com/images/widgetIcons/ob_logo_67x12.png') no-repeat center top;

        @media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            width: 67px;
            height: 12px;
            background: url('http://widgets.outbrain.com/images/widgetIcons/ob_logo_67x12@2x.png') no-repeat center top;
            background-size: 67px 24px;
        }
    }

    &:hover &__logo {
        background-position: center bottom;
    }

}
