.co-thread {

    &--ordered {
        counter-reset: step-counter;
    }

    &--tiny {
        padding-top: step(xs);
        padding-bottom: step(xs);
    }

    &__item {
        @include border($side: bottom, $width: std, $color: light);

        &:last-child {
            border: none;
        }

        .co-thread--tiny & {
            border: none;
        }
    }

    &__block-full {
        padding-bottom: step(l);
        margin-top: -1px; // hide previous border
    }

    &__block-pub {
        padding: step(s) 0 step(l);

        @include to-screen('tablet-s') {
            @include background-color(light);
        }

        .co-thread--tiny & {
            margin-top: step(s);
            margin-bottom: step(s);
        }
    }

    &__block-sponsored {
        @include background-color(light);

        @include to-screen('phone-m') {
            padding: step(l);
        }

        @include from-screen('phone-m') {
            padding: step(l) step(xl);
        }
    }

    &__block-padded {
        padding-top: step(l);
        padding-bottom: step(l);

        @include to-screen('tablet-s') {
            @include content-margin;
        }

        .co-thread--ordered & {
            display: flex;
            flex-flow: row nowrap;
            counter-increment: step-counter;

            &:before {
                @include line-height(s);
                display: inline-block;
                flex: 0 0 step(l);
                margin-right: step(s);
                content: counter(step-counter);
            }

            > * {
                flex: 1 1 0px; // fill available width
            }
        }

        .co-thread--tiny & {
            padding-top: step(xs);
            padding-bottom: step(xs);
        }
    }
}
