// -----------------------------------------------------
// Description :
// an interface that provide a premium content description to the user
// and sugest him to subscribe and go premium / buy the article
// -----------------------------------------------------
// Dependencies :
// _settings_global.scss
// _settings_step.scss
// _settings_borders.scss
// _settings_font-families.scss
// _settings_text.scss
// _settings_colors.scss
// -----------------------------------------------------

.co-teasing {
    @include content-margin;
    padding-bottom: step(l);

    @include to-screen('tablet-s') {
        padding-top: step(l);
    }

    &__border {
        @include from-screen('tablet-s') {
            @include border($side: '', $color:light);
            padding: step(xl) step(xxl);
            margin-bottom: step(xxl);
        }
    }

    &__connect {
        @include border($side: bottom, $color:light);
        padding: step(m) 0;

        @include from-screen('tablet-s') {
            padding: step(l) 0 step(xl);
        }
    }

    &__connect-item {
        @include font-size(l);
        margin: 0 auto;
        text-align: center;
        font-weight: bold;

        @include from-screen('phone-l') {
            max-width: 65%;
        }

        &:not(:last-child) {
            margin-bottom: step(s);
        }
    }

    &__advantages {
        @include font-size(l);
        @include font-family(serif);
        padding: step(m) 0;

        @include from-screen('tablet-s') {
            padding: step(xl) 0 step(l);
        }
    }

    &__sub-title {
        display: block;
        padding-bottom: step(m);
    }

    &__lock-text {
        @include font-size(s);
        @include color(lighter);

        @include from-screen('tablet-s') {
            text-align: center;
        }
    }
}
