// -----------------------------------------------------
// Description :
// header
// -----------------------------------------------------
// Dependencies :
// _settings_global.scss
// _settings_step.scss
// _settings_text.scss
// _settings_viewports.scss
// -----------------------------------------------------

.co-header {
    display: flex;
    align-items: center;
    padding: step(s) step(xl);

    @include from-screen('tablet-s') {
        padding-top: step(s) + 2px;
    }

    &--transparent {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }

    &__logo {

        @include to-screen('phone-m') {
            margin-left: 10px;
        }

        @include from-to-screen('phone-m', 'tablet-s') {
            margin-left: 20px;
        }

        @include from-screen('tablet-s') {
            margin-left: 30px;
        }
    }

    &__btn-burger {
        max-width: 22px;
        max-height: 13px;
        overflow: hidden;
        color: transparent;
        text-indent: 100vw;
        cursor: pointer;
        &:before {
            display: block;
            width: 20px;
            height: 13px;
            text-align: left;
            background-repeat: no-repeat;
            content: '';
        }

        &:focus {
            outline: none;
        }
    }

    &__cta-container {
        padding-left: step(xs);
        margin-left: auto;
    }

    &__btn {
        display: inline-flex;
        white-space: nowrap;
    }
}
