// -----------------------------------------------------
// Description :
// ccp result first round
// -----------------------------------------------------

.cm-round-one {

    &__item {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        border-bottom: solid 1px #e4e6e9;

        @include to-screen('tablet-s') {
            padding: 5px 0;
        }

        @include from-screen('tablet-s') {
            padding: 7px 0;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    &__avatar {
        overflow: hidden;
        border-radius: 50%;
        background-color: #f5f5f5;
        background: #f5f5f5 url('../imgs/medias/ccp/ccp_sprite_avatars_round_one.jpg') center no-repeat;
        background-position-y: 110%;
        background-size: 100% auto;

        @include to-screen('phone-s') {
            width: 2.8rem;
            height: 2.8rem;
        }

        @include from-to-screen('phone-s', 'phone-l') {
            width: 3rem;
            height: 3rem;
        }

        @include from-screen('phone-l') {
            width: 3.4rem;
            height: 3.4rem;
        }

        .cm-round-one__item--arthaud & { background-position-y: 0%; }
        .cm-round-one__item--melenchon & { background-position-y: 10%; }
        .cm-round-one__item--poutou & { background-position-y: 20%; }
        .cm-round-one__item--hamon & { background-position-y: 30%; }
        .cm-round-one__item--macron & { background-position-y: 40%; }
        .cm-round-one__item--lassalle & { background-position-y: 50%; }
        .cm-round-one__item--fillon & { background-position-y: 60%; }
        .cm-round-one__item--dupont-aignan & { background-position-y: 70%; }
        .cm-round-one__item--le-pen & { background-position-y: 80%; }
        .cm-round-one__item--cheminade & { background-position-y: 90%; }
        .cm-round-one__item--asselineau & { background-position-y: 100%; }
    }

    &__color-code {
        min-width: 3px;
        height: 25px;
        margin: 0 9px 0 7px;

        @include at-screen('phone-xs') {
            margin: 0 7px 0 5px;
        }

        &:first-of-type {
            margin-left: 0;
        }

        .cm-round-one__item--arthaud & { background-color: #a0190d; }
        .cm-round-one__item--melenchon & { background-color: #dc2a1b; }
        .cm-round-one__item--poutou & { background-color: #f7704a; }
        .cm-round-one__item--hamon & { background-color: #f19ec7; }
        .cm-round-one__item--macron & { background-color: #ffd75c; }
        .cm-round-one__item--lassalle & { background-color: #cfe9f7; }
        .cm-round-one__item--fillon & { background-color: #78bce0; }
        .cm-round-one__item--dupont-aignan & { background-color: #0089c4; }
        .cm-round-one__item--le-pen & { background-color: #83726d; }
        .cm-round-one__item--cheminade & { background-color: #464a4c; }
        .cm-round-one__item--asselineau & { background-color: #131413; }

        .cm-round-one__item--lrm & { background-color: #e5c047; }
        .cm-round-one__item--udi & { background-color: #478cb2; }
        .cm-round-one__item--ps & { background-color: #e4758f; }
        .cm-round-one__item--fi & { background-color: #c84529; }
        .cm-round-one__item--fn & { background-color: #7f6659; }
        .cm-round-one__item--others & { background-color: #ccc; }
    }

    &__candidate {
        flex: auto;
    }

    &__candidate-name {
        display: block;
        font-weight: 500;
        line-height: 1;

        @include to-screen('phone-l') {
            font-size: 1.3rem;
        }

        @include from-screen('phone-l') {
            font-size: 1.5rem;
        }
    }

    &__party {
        display: block;
        margin-top: 4px;
        color: #a2a9ae;
        font-size: 1rem;
        line-height: 1;
        text-transform: uppercase;

        @include to-screen('phone-l') {
            font-size: 1rem;
        }

        @include from-screen('phone-l') {
            font-size: 1.1rem;
        }
    }

    &__score {
        padding-left: 0.5rem;
        text-align: right;
        font-family: $font-family-sans-serif;
        line-height: 1;
        white-space: nowrap;

        @include to-screen('phone-s') {
            font-size: 2rem;
            letter-spacing: -0.03em;
        }

        @include from-to-screen('phone-s', 'tablet-s') {
            font-size: 2.4rem;
        }


        @include from-screen('tablet-s') {
            font-size: 2.8rem;
        }
    }
}
