.cm-participation {
    &__data {
        @include font-family(sans-serif);

        @include to-screen('phone-l') {
            padding-left: 4.2rem;
            margin-bottom: 2rem;
            font-size: 2.8rem;
        }

        @include from-screen('phone-l') {
            padding-left: 8rem;
            margin-bottom: 1rem;
            font-size: 3.9rem;
        }
    }

    &__time {
        display: block;
        line-height: 0.8;
    }

    &__rate {
        line-height: 1;

        @include to-screen('phone-l') {
            font-size: 7.2rem;
        }

        @include from-screen('tablet-s') {
            font-size: 9rem;
        }

        &--small {

            @include to-screen('phone-l') {
                font-size: 4.5rem;
            }

            @include from-screen('tablet-s') {
                font-size: 6rem;
            }
        }
    }

    &__previous {
        opacity: 0.6;

        @include to-screen('tablet-s') {
            max-width: 350px;
        }

        @include from-screen('tablet-s') {
            max-width: 400px;
        }

        &:not(:last-child) {
            padding-bottom: 1.9rem;
        }
    }

    &__previous-election {
        display: flex;
        align-items: center;

        @include to-screen('phone-l') {
            font-size: 1.5rem;
        }

        @include from-screen('phone-l') {
            font-size: 1.7rem;
        }

        &::before {
            height: 1px;
            margin-top: 7px;
            content: '';
            background-color: #fff;

            @include to-screen('phone-l') {
                flex: 0 0 3rem;
                width: 3rem;
                margin-right: 1.4rem;
            }

            @include from-screen('phone-l') {
                flex: 0 0 6rem;
                width: 6rem;
                margin-right: 2rem;
            }
        }
    }

    &__previous-tour,
    &__previous-election-rate {
        margin-left: auto;
    }

    &__previous-election-data::before {
        background-color: transparent;
    }

    &__previous-election-title {
        @include font-family(sans-serif);
        line-height: 1;
        text-transform: uppercase;

        @include to-screen('phone-l') {
            font-size: 1.7rem;
        }

        @include from-screen('tablet-s') {
            font-size: 1.9rem;
        }
    }

    &__previous-election-rate {
        @include font-family(sans-serif);
        line-height: 1;

        @include to-screen('tablet-s') {
            font-size: 2.2rem;
        }

        @include from-screen('tablet-s') {
            font-size: 2.8rem;
        }
    }
}
