/*------------------------------------*\
            card object
\*------------------------------------*/

.cm-card {
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    justify-content: space-between;
    border-radius: 2px;

    @include to-screen('phone-l') {
        padding: 0 13px;
    }

    @include to-screen('phone-s') {
        height: 343px;
    }

    @include from-to-screen('phone-s', 'phone-m') {
        height: 375px;
    }

    @include from-to-screen('phone-m', 'tablet-s') {
        height: 385px;
    }

    @include from-screen('tablet-s') {
        height: 410px;
    }

    @include from-screen('phone-l') {
        padding: 0 15px;
    }

    &--dark {
        background: rgba(255, 255, 255, 0.15);
        color: #fff;
    }

    &.cm-card--edge-to-edge {
        padding: 0;
    }

    &--light {
        background: #fff;
        color: #190a52;
    }

    &__header {
        @include font-family(sans-serif);
        display: flex;
        flex: 0 0 100%;
        align-self: flex-start;

        margin-bottom: 4px;
        justify-content: space-between;
        text-transform: uppercase;
        letter-spacing: 0.01em;

        @include to-screen('phone-l') {
            padding-top: 13px;
            font-size: 1.7rem;
        }

        @include from-screen('phone-l') {
            padding-top: 15px;
        }

        @include from-screen('tablet-s') {
            font-size: 1.9rem;
        }

        sup {
            font-size: 75%;
            line-height: 0;
            text-transform: none;
        }
    }

    &__marker-left {
        padding-bottom: 0.2rem;

        .cm-card--light & {
            border-bottom: solid 2px #190a52;
        }

        .cm-card--dark & {
            border-bottom: solid 2px #fff;
        }

        .cm-card--light &--alternate {
            border-bottom: solid 2px #ff0303;
        }
    }

    &__body {
        flex: 0 0 100%;
        align-self: center;
    }

    &__footer {
        flex: 0 0 100%;
        align-self: flex-end;
        padding-bottom: 15px;
        text-align: center;

        &--align-right {
            text-align: right;
        }
    }

    &__data-source {
        margin-bottom: 4px;
        font-size: 1.1rem;
        color: #8b9299;

        .cm-card--dark & {
            opacity: 0.6;
            color: #fff;
        }
    }

    &__btn {
        display: inline-block;
        padding: 0.4rem 3rem 0.4rem;
        border-radius: 3rem;
        font-size: 1.4rem;
        line-height: 1.5;
        font-weight: 600;
        border: 1px solid #8c84a8;
        text-decoration: none;
    }
}
