// -----------------------------------------------------
// Description :
// set viewports and medias queries properties and mixins
// -----------------------------------------------------
// Dependencies :
// -----------------------------------------------------

$viewports: (
    'phone-xs': 0px,
    'phone-s': 380px,
    'phone-m': 600px,
    'phone-l': 768px,
    'tablet-s': 1024px
);

/*------------------------------------*\
            Médias queries
\*------------------------------------*/

// media query from a target and higher
@mixin from-screen($device) {
    @media screen and (min-width: map-get($viewports, $device)) {
        @content;
    }
}

// media query from 0 to a target
@mixin to-screen($device) {
    @media screen and (max-width: map-get($viewports, $device) - 1px) {
        @content;
    }
}

// media query from a device to another
@mixin from-to-screen($device-from, $device-to) {
    @media screen
        and (min-width: map-get($viewports, $device-from))
        and (max-width: map-get($viewports, $device-to) - 1px) {
        @content;
    }
}

// media query at a spécific target
@mixin at-screen($device) {
    $from-size: map-get($viewports, $device);
    $values-arr: map-values($viewports);
    $to-index: index($values-arr, $from-size) + 1;

    @if $to-index < length($values-arr) {
        // if biggers devices exists
        $to-size: nth($values-arr, $to-index);
        @media screen
            and (min-width: $from-size)
            and (max-width: $to-size - 1px) {
            @content;
        }
    } @else {
        // if it's the larger device in the list
        @media screen and (min-width: $from-size) {
            @content;
        }
    }
}

/*------------------------------------*\
        ORDERING QUERIES OUTPUT
\*------------------------------------*/
// PostCSS will regroup medias queries
// in the first parsed order
// => we declare empty media queries in the right
// order we want them to be implemented

// low priority | mobile first
@each $screen, $size in $viewports {
    @include from-screen($screen) {
        /* from screen */
    }
}

// medium priority | mobile first
@each $screen, $size in $viewports {
    @include to-screen($screen) {
        /* from screen */
    }
}

// medium priority | mobile first
@each $screen, $size in $viewports {
    @each $screen2, $size2 in $viewports {
        @include from-to-screen($screen, $screen2) {
            /*  from-to-screen*/
        }
    }
}

// high priority | mobile first
@each $screen, $size in $viewports {
    @include at-screen($screen) {
        /* at screen */
    }
}
