// -----------------------------------------------------
// Description :
// Style for the feedback module
// -----------------------------------------------------
// Responsabilities :
// Define style for the box and transitions between
// states
// -----------------------------------------------------

// Vars
$qa-color-blue-bright: #008cff;

.qa-toast {
    @include background-color(lighter);
    @include border-radius(std);
    position: fixed;
    right: step('s');
    bottom: - 100vh;
    left: step('s');
    z-index: 10;
    opacity: 0;
    // Only for qa, this will disappear in future version of component
    box-shadow: 0 1px 15px 5px rgba(0, 0, 0, 0.2);

    &.is-open {
        animation: SlideUp 0.3s forwards;
    }

    &__header {
        @include color(reverted);
        position: relative;
        padding: step('s') step('xxl') step('s') step('s');
        //Only for qa, a choice has to be made to keep color or not
        background-color: $qa-color-blue-bright;
        border-radius: map-get($border-radius, 'std') map-get($border-radius, 'std') 0 0;
    }
}

.qa-message {
    padding: step('s');
}

.qa-close-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: step('xxs') step('s') step('s');
    font-size: 2.4rem; // Sizing the icon, not an actual font-size
    line-height: 1;
    cursor: pointer;
}

.qa-arrow-list {

    &__item {
        @include border('lighter','std','bottom');
        position: relative;
        padding: step('s') step('s') step('s') step('xxl');
        cursor: pointer;

        &:last-child {
            border-bottom: none;
        }

        &:active {
            // Only for qa, a choice has to be made to keep color or not
            color: $qa-color-blue-bright;
        }
    }
}

.qa-ca-ico--arrow-list {
    position: absolute;
    top: 50%;
    left: 18px;
    margin-top: -4px;//Absolute value because margin for positionning
    transform: rotate(-90deg) scale(1.5);
}

// Animations
@keyframes SlideUp {

    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        bottom: - step('s');
    }

    100% {
        bottom: step('s');
        opacity: 1;
    }
}
