.qa-header-cta {
    display: flex;

    &__logo {
        // temporary for qa purpose :
        // we need here to override the margin of default header logo within media queries
        @include to-screen('phone-m') {
            margin: 0;
        }

        @include from-to-screen('phone-m', 'tablet-s') {
            margin: 0;
        }

        @include from-screen('tablet-s') {
            margin: 0;
        }
    }

    &__cta-container {
        padding-left: step(xs);
        margin-left: auto;
    }

    &__btn {
        display: inline-flex;
        padding: step(xxs) (step(xs) + 2) step(xxs) + 2;
        white-space: nowrap;

        @include to-screen('phone-m') {
            @include font-size(xxs);
        }

        @include from-to-screen('phone-m', 'phone-l') {
            @include font-size(xs);
        }

        @include from-screen('phone-l') {
            @include font-size(s);
        }
    }
}
