.u-text {
    &-right {
        text-align: right;
    }

    &-center {
        text-align: center;
    }

    &-bold {
        font-weight: bold;
    }
}

.u-centered {
    margin-right: auto !important;
    margin-left: auto !important;
}

.u-link-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}

.u-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    margin: -1px;
    clip: rect(0 0 0 0);
    border: 0;
}

.u-hidden {
    display: none;
}
