// -----------------------------------------------------
// Description :
// a familly for labels/tags/flags or other textual
// landmarks that give contextual informations about
// an associated content. ex: content category
// -----------------------------------------------------
// Responsability :
// marks should only set
//  - font-size, font-famlilly
//  - NO text colors unless the mark set his hown background-color
// they are multipurpose markers
// -----------------------------------------------------
// Dependencies :
// _settings_global.scss,
// _tools_text.scss,
// -----------------------------------------------------

.ca-mark {
    &-teeny {
        @include font-size(xxxs);
        @include font-family(std);
        font-weight: normal;
        text-transform: uppercase;
    }

    &-tiny {
        @include font-size(xxs);
        @include font-family(std);
        font-weight: 600;
        text-transform: uppercase;
    }

    &-medium {
        @include font-family(std);
        font-weight: 600;
        text-transform: uppercase;

        @include to-screen('phone-l') {
            @include font-size(xxs);
        }

        @include from-screen('phone-l') {
            @include font-size(s);
        }
    }

    &-big {
        @include font-family(sans-serif);
        @include font-size(l);
        text-transform: uppercase;
    }

    &-bigger {
        @include font-family(sans-serif);
        @include font-size(xl);
        text-transform: uppercase;
    }
}
