// -----------------------------------------------------
// Description :
// for reference blocks
// -----------------------------------------------------
// Responsability :
// set the box styling and sizes
// -----------------------------------------------------
// segregation :
// -----------------------------------------------------
// Dependencies :
// _settings_global.scss,
// _settings_text.scss,
// _settings_borders.scss,
// _settings_steps.scss
// -----------------------------------------------------

.ca-reference {
    @include color(light);
    @include font-family('std');
    @include font-size('m');
    @include border($side: top, $color: light);
    @include border($side: bottom, $color: light);
    display: table;
    width: 100%;
    padding: step(m) 0;


    &::before {
        display: table-cell;
        width: 7px;
        padding-right: step(m);
        content: '';
        background-repeat: no-repeat;
        background-position: 0 0.4em;
    }
}
