// -----------------------------------------------------
// Description :
// provide horizontal dividers
// -----------------------------------------------------
// Responsability :
// divide a page or a section.
// Do not use to style an element
// -----------------------------------------------------
// Dependencies :
// _settings_global.scss,
// _settings_borders.scss,
// _settings_background-colors.scss
// _settings_steps.scss
// -----------------------------------------------------


.ca-divider {
    @include border($side: 'bottom', $color: 'light');
    display: block;

    &--large {
        @include border($side: 'top', $color: 'light');
        @include background-color(light);
        height: step(xs);
    }

    // remove border-top when
    // previous element already has one
    &--stacked-top {
        border-top: 0;
    }

    &--thin {
        height: 0;
    }
}
