// -----------------------------------------------------
// Description :
// provide UI buttons
// -----------------------------------------------------
// Dependencies :
// _settings_global.scss,
// _settings_borders.scss,
// _settings_text.scss,
// _settings_steps.scss
// -----------------------------------------------------

.ca-btn {
    @include border-radius(std);
    @include color(std);
    @include font-size(l);
    @include font-family(std);
    @include line-height(s);
    display: block;
    width: 100%; // for input and buttons tags
    padding: (step(s) - 2) step(xl) step(s);
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background: none;
    cursor: pointer;

    &--std {
        @include border($color: interactive-light);

        &:hover,
        &.is-hover  {
            @include border($color: interactive-light--hover);
        }

        &:active,
        &.is-active  {
            @include border($color: interactive-light--active);
        }
    }

    &--premium {
        @include border(transparent); // keep the same height
        @include background-color(interactive-premium);

        &:hover,
        &.is-hover  {
            @include background-color(interactive-premium--hover);
        }

        &:active,
        &.is-active {
            @include background-color(interactive-premium--active);
        }
    }

    &--important {
        @include color(lightest);
        @include border(transparent); // keep the same height
        @include background-color(interactive-dark);

        &:hover,
        &.is-hover {
            @include background-color(interactive-dark--hover);
        }

        &:active,
        &.is-active {
            @include background-color(interactive-dark--active);
        }
    }

    &--small {
        @include font-size(s);
        padding: step(xs) step(s);
        line-height: 100%;

        @include to-screen('phone-m') {
            @include font-size(xxs);
        }

        @include from-to-screen('phone-m', 'phone-l') {
            @include font-size(xs);
        }

        @include from-screen('phone-l') {
            @include font-size(s);
        }
    }
}
