// -----------------------------------------------------
// Description :
// provide all brand logos
// -----------------------------------------------------
// Dependencies :
// _settings_global.scss,
// _tools_images.scss,
// -----------------------------------------------------

.ca-logo {
    display: block;
    height: 23px;
    background-repeat: no-repeat;
    background-size: contain;

    &--std {
        width: 99px;
        background-image: svg('logo-lmd');
        background-position: center;

        @include from-screen('tablet-s') {
            width: 144px;
            height: 32px;
        }
    }

    &--premium {
        width: 187px;
        background-image: svg('logo-lmd-premium');
    }
}
