.ca-page-heading {
    @include line-height(xs);
    display: block;

    @include to-screen('phone-m') {
        @include font-size(t2);
    }

    @include from-to-screen('phone-m', 'tablet-s') {
        @include font-size(t3);
    }

    @include from-screen('tablet-s') {
        @include font-size(t4);
    }

    &--factuel {
        font-weight: 600;
    }

    &--opinion {
        @include font-family('serif');
        font-weight: 800;
    }
}
