// -----------------------------------------------------
// Description :
// provide all site icons
// -----------------------------------------------------
// Dependencies :
// _tools_images.scss
// _tools_helpers.scss
// -----------------------------------------------------

.ca-ico {
    display: inline-block;

    &::before {
        display: block;
    }

    &--arrow {
        @include ico-svg(13px, 13px);
    }

    &--cross {
        @include ico-svg(16px, 16px);
    }

    &--burger {
        @include ico-svg(20px, 13px);
    }

    &--check-mark {
        @include ico-svg(16px, 12px);
    }

    &--check-mark-big {
        @include ico-svg(60px, 42px);
    }

    &--chevron {
        @include ico-svg(8px, 8px);
    }

    &--key,
    &--key-light {
        @include ico-svg(18px, 10px);
    }

    &--pilcrow {
        @include ico-svg(7px, 16px);
    }

    &--premium-content {
        @include ico-svg(18px, 18px);
    }

    &--time {
        @include ico-svg(15px, 16px,text-bottom);
    }

    &--play {
        @include ico-svg(9px, 14px);

        &::before {
            transform: translateX(1px); // optical centering
        }
    }

    &--portfolio {
        @include ico-svg(15px, 12px);
    }

    /* boxed variations */
    &--rounded {
        @include border-radius(circle);
        @include background-color(lighter);
        display: inline-flex;
        width: 34px;
        height: 34px;

        &::before {
            align-self: center;
            margin: 0 auto;
        }
    }
}
