// -----------------------------------------------------
// Description :
// store global variables and configurations
// -----------------------------------------------------

/*------------------------------------*\
            FONT-FAMILIES
\*------------------------------------*/

$font-family-std:
    'Helvetica Neue',
    Helvetica,
    // we prioritize system fonts due
    // to firefox android lack of font weight
    // this should require further testing
    'San Francisco',
    'Roboto',
    'Fira Sans',
    'Segoe',
    Arial,
    sans-serif;

$font-family-serif: theantiqua, georgia, 'Bitstream Charter', serif;
$font-family-sans-serif: Fette, 'Arial Narrow', sans-serif;


/*------------------------------------*\
            MARGIN AND PADDINGS
\*------------------------------------*/

$base-step: 4px;
$max-width-content: 680px;
