// -----------------------------------------------------
// Description :
// provide values expressed in px.
// -----------------------------------------------------
// Responsabilities :
// use for margin / padding, vertical or horizontal spaces
// margin-left: pas(s); or margin-left: ($some-value + pas(m));
// use it for heights or widths, if the concerned element
// height or with correspond to an empty space
// @mixin bodymargin give you the external content margin
// -----------------------------------------------------
// Segregation :
// step(x) : do not use for other units, like font-sizes etc...
// $content-margin :  do not use for margins not releated to
// main content zone horizontal margin,
// even if the value is the same.
// -----------------------------------------------------
// Dependencies :
// _settings_global.scss,
// -----------------------------------------------------

$steps : (
    'xxl': $base-step * 9, // 36
    'xl': $base-step * 6,  // 24
    'l': $base-step * 5,   // 20
    'm': $base-step * 4,   // 16
    's': $base-step * 3,   // 12
    'xs': $base-step * 2,  // 8
    'xxs': $base-step,     // 4
);

@function step($size) {
    @return map-get($steps, $size);
}

// expose horizontal content margins value
// for calculation purpose only
$content-margin-small: step(l);
$content-margin: step(xl);
$content-margin-large: step(xxl);

// set horizontal content margins
@mixin content-margin() {

    @include from-to-screen('phone-m', 'tablet-s') {
        padding-right: $content-margin;
        padding-left: $content-margin;
    }

    @include from-screen('tablet-s') {
        padding-right: $content-margin-large;
        padding-left: $content-margin-large;
    }

    @include at-screen('phone-s') {
        padding-right: $content-margin-small;
        padding-left: $content-margin-small;
    }
}

// reset horizontal content margins
@mixin reverse-content-margin() {
    @include to-screen('tablet-s') {
        margin-right: (- $content-margin);
        margin-left: (- $content-margin);
    }

    @include from-screen('tablet-s') {
        margin-right: (- $content-margin-large);
        margin-left: (- $content-margin-large);
    }
}
