// -----------------------------------------------------
// Description :
// Global display in PL
// -----------------------------------------------------

.pl-margin-b-xs {
    margin-bottom: step(xs);
}

.pl-margin-x-m {
    margin: step(m) 0;
}

.pl-margin-b-m {
    margin-bottom: step(m);
}

.pl-margin-t-xl {
    margin-top: step(xl);
}

.pl-padding-l-xs {
    padding-left: step(xs);
}

.pl-width-100 {
    display: inline-block;
    width: 100px;
}

.pl-width-50 {
    display: inline-block;
    width: 50px;
}

.pl-elt-id {
    display: inline-block;
    padding: 0 step(xs);
    color: getTint($smoke, dark);
    border: solid 1px getTint($snow, dark);
    border-radius: 2px;
    font-size: 14px;
}
