// -----------------------------------------------------
// Description :
// provide styles to display borders
// [patternlab host]/?p=viewall-particules-borders
// -----------------------------------------------------
// Dependencies :
// _settings_borders.scss
// _settings_step.scss
// -----------------------------------------------------
@mixin border-code($color) {
    content:'#{map-get($border-colors, $color)}';
}

.pl-border {
    &__display {

        &--std {
            @include border($side: bottom, $width: std);
        }

        &--m {
            @include border($side: bottom, $width: m);
        }

        &--l {
            @include border($side: bottom, $width: l);
        }

        &--xl {
            @include border($side: bottom, $width: xl);
        }

        &--light {
            @include border($width: m, $color: light);
            padding: step(m);
            margin-bottom: step(m);
            text-align: center;
        }

        &--medium {
            @include border($width: m, $color: medium);
            padding: step(m);
            margin-bottom: step(m);
            text-align: center;
        }

        &--dark {
            @include border($width: m, $color: dark);
            padding: step(m);
            margin-bottom: step(m);
            text-align: center;
        }

        &--interactive-light {
            @include border($width: m, $color: interactive-light);
            padding: step(m);
            margin-bottom: step(m);
            text-align: center;
        }

        &--interactive-light--hover {
            @include border($width: m, $color: interactive-light--hover);
            padding: step(m);
            margin-bottom: step(m);
            text-align: center;
        }

        &--interactive-light--active {
            @include border($width: m, $color: interactive-light--active);
            padding: step(m);
            margin-bottom: step(m);
            text-align: center;
        }

        &--radius-std {
            @include background-color(dark);
            @include border-radius(std);
            width: 80px;
            height: 80px;
        }

        &--radius-circle {
            @include background-color(dark);
            @include border-radius(circle);
            width: 80px;
            height: 80px;
        }

        @each $key, $value in $border-colors {
            &--#{$key} &__code {
                font-weight: bold;

                /* stylelint-disable-next-line max-nesting-depth */
                &::before {
                    @include border-code($key);
                    display: none;
                }
            }
        }
    }
}
