.sg-main {
    width: 1200px;
    max-width: 94%;
    margin: 0 auto;
    padding-top: step(l);
}

/* to correctly display a element in PL on which we set an absolute positionning */
.sg-pattern-example {
    position: relative;
}

.sg-pattern-head .sg-pattern-title {
    font-size: 1.2rem !important;
}

.sg-pattern-title a {
    padding: 8px 0 !important;
}

.sg-main .sg-pattern-category-title {
    font-size: 1.8rem !important;
    font-weight: bold;
}

.sg-pattern-category-title a {
    text-decoration: none;
}

.sg-pattern-extra-toggle {
    border: 0 !important;
    border-radius: 0 !important;
    padding: 10px !important;
}

.sg-pattern-extra-toggle:hover,
.sg-pattern-extra-toggle.active {
    background: #eff0f3 !important;
}

.sg-tabs-content {
    background: none;
    border: 0 !important;
}

.sg-tabs-panel {
    min-height: 15em !important;
}

.sg-pattern-extra.active {
    border: 0 !important;
    border-radius: 0 !important;
    max-height: 50em !important;
    background: #eff0f3 !important;
}

.sg-pattern {
    margin-bottom: 12px !important;
}

.sg-pattern-example::after,
.sg-pattern-example::before {
    content: '';
    display: block;
    clear: left;
}
.sg-tab-title-active a,
.sg-tabs-list a {
    border: 0 !important;
    font-weight: normal !important;
    background: #eff0f3 !important;
    padding: 0 6px 12px 6px !important;
    font-size: 15px !important;
}

.sg-tab-title-active a {
    border-bottom: 5px solid rgba(0,0,0,0.1) !important;
}

.sg-pattern-extra-code * {
    border-radius: 0 !important;
}

.sg-pattern-extra-code {
    padding: 24px !important;
}

.sg-pattern-lineage {
    font-size: 14px !important;
}

.sg-pattern-extra-code pre {
    font-size: 11px !important;
}

:not(pre)>code[class*=language-],
pre[class*=language-] {
    background: #FFF !important;
    border: 0 !important;
}

/*------------------------------------*\
    info panel markdown content
\*------------------------------------*/
.sg-pattern-extra-info {
    max-height: 45em;
    margin: 24px 0;
    padding: 0 24px;
    font-size: 100% !important;
    color: #383f4e !important;
}

.sg-pattern-extra-info h1,
.sg-pattern-extra-info h2 {
    font-weight: 700;
    margin: 8px 0 4px;
}

.sg-pattern-extra-info h1 {
    font-size: 120%;
    line-height: 1.2;
}

.sg-pattern-extra-info h2 {
    font-size: 110%;
    line-height: 1.3;
}

.sg-pattern-extra-info ul {
    margin: 4px 0 4px 1em !important;
}

.sg-pattern-extra-info li {
    list-style-type: disc;
    padding: 2px 0 !important;
}

.sg-pattern-extra-info pre {
    background-color: #f5f6f8 !important;
    padding: 4px !important;
    margin: 8px 0 !important;
}

.sg-pattern-extra-info code {
    background-color: #f5f6f8 !important;
    padding: 2px !important;
    color: #000;
}

.sg-modal {
    background: #e8eaee !important;
}

.sg-pattern-lineage {
    font-size: 12px !important;
    color: #565e70 !important;
}

#sg-patterns .co-burger-menu,
#sg-patterns .is-fixed {
    display: none;
}
