// -----------------------------------------------------
// Description :
// Corrects some default browser display
// -----------------------------------------------------
/**
* Fixing the main tag being unsupported in even recent versions of IE.
*/
main {
    display: block;
}

/**
* Fixing buttons not inheriting text color in most browsers
*/
a,
button {
    color: inherit;
}

/**
* Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 * 3. reset borders.
 */
hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
    border: 0; /* 3 */
}


/* ----------------------------- */
/*          FORMS
/* ----------------------------- */
/**
* forms items
*/
form,
fieldset {
    border: none;
}

input,
button,
select,
label {
    font: inherit;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
}

legend {
    border: 0;
    white-space: normal;
}

textarea {
    vertical-align: top;
    font-family: inherit;
    font-size: inherit;
    resize: vertical;
}
