.ol-sticky-top__top-container {
    position: absolute;
    width: 100%;
}

.ol-sticky-top__header-nav {
    @include background-color(lighter);
    @include border($color: light, $side: bottom);
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    overflow: visible;
    // active ios hardware acceleration
    // to force repaint at scroll-up
    will-change: transform;

    &.is-fixed {
        position: fixed;
    }
}

.ol-sticky-top__main-container {
    @include to-screen('tablet-s') {
        padding-top: 54px; // header height
    }

    @include from-screen('tablet-s') {
        padding-top: 57px; // header height
    }
}
