// -----------------------------------------------------
// Description :
// provide utility object for revealing a sub part
// ex: sub menus, drop-downs, infobulle
// -----------------------------------------------------
// Responsability :
// display/hide a child outside of the parent scope
// -----------------------------------------------------
// Segregation :
// do not set any cosmetic here
// -----------------------------------------------------
// Dependencies :
// -----------------------------------------------------

.ol-drop {
    position: relative;
    overflow: visible;

    &__child {
        position: absolute;
        z-index: 1;

        .ol-drop--down-left & {
            top: 100%;
            left: 0;
        }
    }
}
